* {
	margin: 0;
	font-family: sans-serif;
}

body {
	background-color: #ffccff;

/* this is a image of the yellow sidebar repeating itself to make the page look more appealing	*/
  background-image: url(images/Unknown.png);
  background-repeat: repeat-y;
}

header {
	text-align: center;
	color: #cc00cc;
}

h1 {
	text-transform: uppercase;
	background-color: #cc99cc;
	padding: 50px;
	margin: 0;
  border-style: none;
}

h2 {
	text-transform: capitalize;
	background-color: #ffcc88;
	padding: 20px;
  background: linear-gradient(to left, #FFFF99, #ffcc88);
}

h3 {
  text-decoration: underline;
  text-transform: uppercase;
}

.ing2 {
	color: blueviolet;
	padding: 50px;
	height: 300px;
	line-height: 25px;
}

.ing {
	color: blueviolet;
	padding: 50px;
	height: 200px;
	line-height: 25px;
	text-transform: uppercase;
	font-weight: 100;
}

footer {
	padding: 50px;
	color: blueviolet;
	height: 120px;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: #cc00cc;
}

p {
	text-align: center;
	line-height: 25px;
}

img {
  margin-left: 50px;
  margin-top:50px;

  border: 2px;
	border-radius: 20px;
}

/* The opacity level is meant to make the flatbread sandwich to look faded and blend into the background */
#taco {
	float: right;
	opacity: 0.7;
}
